<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.myleakyconlondon.ui"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="16" android:maxSdkVersion="16"/>
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name=".LeakyConLondonScheduleActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".EventDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ConfigActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <provider
                android:name="com.myleakyconlondon.dao.EventProvider" android:authorities="com.myleakyconlondon.dao.EventProvider"
                android:exported="false" />
        <provider
                android:name="com.myleakyconlondon.dao.DaysProvider" android:authorities="com.myleakyconlondon.dao.DaysProvider"
                android:exported="false" />
    </application>
</manifest>
